.vscode/**
.vscode-test/**
out/**
src/**
test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/*.log
files-for-extension-testing
test-resources/**
test-resource
test Fixture with speci@l chars
uitest-resources
.yarn/**
.idea
.camel-jbang
.camel-jbang-run
