on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

name: Build with released version of Kaoto

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      CODE_VERSION: max
      TEST_RESOURCES: test-resources

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-tools
        with:
          cache: yarn
      - name: yarn install
        run: yarn --network-timeout 1000000
      - name: yarn build:prod
        run: yarn build:prod
      - name: Allow unprivileged user namespace
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: Run Unit tests
        run: xvfb-run -a yarn test:unit
      - name: vsix package
        run: yarn build:vsix
      - name: Generate SBOM
        run: |
          npm install -g @cyclonedx/cdxgen
          cdxgen -o manifest.json
      - name: Upload VSIX artifact
        uses: actions/upload-artifact@v6
        with:
          name: vscode-kaoto-vsix
          path: "*.vsix"
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v6
        with:
          name: sbom
          path: manifest.json
      - name: Store Unit Tests VS Code Logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ubuntu-unit-test-logs
          path: .vscode-test/user-data/logs/*

  integration-tests:
    needs: build
    uses: ./.github/workflows/_integration-tests.yaml
    with:
      vsix-artifact-name: vscode-kaoto-vsix
