on:
  schedule:
    - cron: "0 0 * * *" # every day at midnight

name: Test with snapshot version of Camel JBang

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      CODE_VERSION: max
      TEST_RESOURCES: test-resources

    steps:
      - name: Get latest Camel JBang snapshot version
        id: get_camel_jbang_snapshot
        shell: bash
        run: |
          set -e
          SNAPSHOT_METADATA_URL="https://repository.apache.org/content/groups/snapshots/org/apache/camel/camel-jbang-core/maven-metadata.xml"
          VERSION=$(curl -s "$SNAPSHOT_METADATA_URL" | sed -n 's:.*<latest>\(.*\)</latest>.*:\1:p' | head -n 1)
          if [ -z "$VERSION" ]; then
            VERSION=$(curl -s "$SNAPSHOT_METADATA_URL" | sed -n 's:.*<version>\(.*\)</version>.*:\1:p' | head -n 1)
          fi
          echo "Latest Camel JBang snapshot version: $VERSION"
          echo "CAMEL_JBANG_SNAPSHOT_VERSION=$VERSION" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "yarn"
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: yarn install
        run: yarn --network-timeout 1000000
      - name: yarn build:prod
        run: yarn build:prod
      - name: vsix package
        run: yarn build:vsix
      - name: Upload VSIX artifact
        uses: actions/upload-artifact@v6
        with:
          name: vscode-kaoto-vsix
          path: "*.vsix"

  test-integration-ubuntu:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 60

    env:
      CODE_VERSION: max
      TEST_RESOURCES: test-resources

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      - name: Start Minikube
        uses: medyagh/setup-minikube@v0.0.21
        with:
          driver: docker
          addons: registry,registry-aliases
          container-runtime: docker
          insecure-registry: "10.0.0.0/24"
      - name: Set Minikube ENV
        run: |
          eval $(minikube -p minikube docker-env)
          echo "INSTALL_REGISTRY=$(kubectl -n kube-system get service registry -o jsonpath='{.spec.clusterIP}')" >> $GITHUB_ENV
          echo $INSTALL_REGISTRY
      - name: Setup JBang
        uses: jbangdev/setup-jbang@v0.1.1
      - name: Setup JBang properties
        run: jbang properties@jbangdev
      - name: Add Camel Trusted Source to JBang
        run: jbang trust add https://github.com/apache/camel/
      - name: Add Kubernetes plugin to Camel JBang
        run: jbang camel@apache/camel plugin add kubernetes
      - name: Download VSIX artifact
        uses: actions/download-artifact@v7
        with:
          name: vscode-kaoto-vsix
      - name: Install test dependencies
        run: yarn install --mode=skip-build
      - name: Allow unprivileged user namespace
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: Run Integration Tests
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 30
          retry_wait_seconds: 30
          max_attempts: 2
          command: |
            eval $(minikube -p minikube docker-env)
            xvfb-run -a yarn run test:it:with-prebuilt-vsix:minikube --mocha_config .mocharc-json.js
      - name: Test Report
        uses: dorny/test-reporter@v2.5.0
        if: ${{ !cancelled() }}
        with:
          name: UI Tests
          path: reports/ui-test-results.json
          reporter: mocha-json
      - name: Store Integration Tests VS Code Logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: vscode-logs-ubuntu
          path: test-resources/settings/logs
      - name: Store Integration Tests VS Code screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ui-test-screenshots-ubuntu
          path: test-resources/screenshots

  test-integration-macos:
    needs: build
    runs-on: macos-latest
    timeout-minutes: 60

    env:
      CODE_VERSION: max
      TEST_RESOURCES: test-resources

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Setup JBang
        uses: jbangdev/setup-jbang@v0.1.1
      - name: Setup JBang properties
        run: jbang properties@jbangdev
      - name: Add Camel Trusted Source to JBang
        run: jbang trust add https://github.com/apache/camel/
      - name: Add Kubernetes plugin to Camel JBang
        run: jbang camel@apache/camel plugin add kubernetes
      - name: Download VSIX artifact
        uses: actions/download-artifact@v7
        with:
          name: vscode-kaoto-vsix
      - name: Install test dependencies
        run: yarn install --mode=skip-build
      - name: Run Integration Tests
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 30
          retry_wait_seconds: 60
          max_attempts: 2
          command: yarn run test:it:with-prebuilt-vsix --mocha_config .mocharc-json.js
          on_retry_command: rm -rf "${RUNNER_TEMP}/extest-code"
      - name: Test Report
        uses: dorny/test-reporter@v2.5.0
        if: ${{ !cancelled() }}
        with:
          name: UI Tests
          path: reports/ui-test-results.json
          reporter: mocha-json
      - name: Store Integration Tests VS Code Logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: vscode-logs-macos
          path: test-resources/settings/logs
      - name: Store Integration Tests VS Code screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ui-test-screenshots-macos
          path: test-resources/screenshots

  test-integration-windows:
    needs: build
    runs-on: windows-latest
    timeout-minutes: 60

    env:
      CODE_VERSION: max
      TEST_RESOURCES: test-resources

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Setup JBang
        uses: jbangdev/setup-jbang@v0.1.1
      - name: Setup JBang properties
        run: jbang properties@jbangdev
      - name: Add Camel Trusted Source to JBang
        run: jbang trust add https://github.com/apache/camel/
      - name: Add Kubernetes plugin to Camel JBang
        run: jbang camel@apache/camel plugin add kubernetes
      - name: Download VSIX artifact
        uses: actions/download-artifact@v7
        with:
          name: vscode-kaoto-vsix
      - name: Install test dependencies
        run: yarn install --mode=skip-build
      - name: Run Integration Tests
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 30
          retry_wait_seconds: 30
          max_attempts: 2
          command: |
            Set-DisplayResolution -Width 1920 -Height 1080 -Force
            yarn run test:it:with-prebuilt-vsix --mocha_config .mocharc-json.js
      - name: Test Report
        uses: dorny/test-reporter@v2.5.0
        if: ${{ !cancelled() }}
        with:
          name: UI Tests
          path: reports/ui-test-results.json
          reporter: mocha-json
      - name: Store Integration Tests VS Code Logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: vscode-logs-windows
          path: test-resources/settings/logs
      - name: Store Integration Tests VS Code screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ui-test-screenshots-windows
          path: test-resources/screenshots
