on:
  schedule:
    - cron: "0 0 * * *" # every day at midnight

name: Test with snapshot version of Camel JBang

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      CODE_VERSION: max
      TEST_RESOURCES: test-resources

    steps:
      - name: Get latest Camel JBang snapshot version
        id: get_camel_jbang_snapshot
        shell: bash
        run: |
          set -e
          SNAPSHOT_METADATA_URL="https://repository.apache.org/content/groups/snapshots/org/apache/camel/camel-jbang-core/maven-metadata.xml"
          VERSION=$(curl -s "$SNAPSHOT_METADATA_URL" | sed -n 's:.*<latest>\(.*\)</latest>.*:\1:p' | head -n 1)
          if [ -z "$VERSION" ]; then
            VERSION=$(curl -s "$SNAPSHOT_METADATA_URL" | sed -n 's:.*<version>\(.*\)</version>.*:\1:p' | head -n 1)
          fi
          echo "Latest Camel JBang snapshot version: $VERSION"
          echo "CAMEL_JBANG_SNAPSHOT_VERSION=$VERSION" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-tools
        with:
          cache: yarn
          install-jbang: "false"
      - name: yarn install
        run: yarn --network-timeout 1000000
      - name: yarn build:prod
        run: yarn build:prod
      - name: vsix package
        run: yarn build:vsix
      - name: Upload VSIX artifact
        uses: actions/upload-artifact@v6
        with:
          name: vscode-kaoto-vsix
          path: "*.vsix"

  integration-tests:
    needs: build
    uses: ./.github/workflows/_integration-tests.yaml
    with:
      vsix-artifact-name: vscode-kaoto-vsix
